<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代码生成器（myTool）</title>
{% include 'common/head.html' %}
    <script>
        var tableData = {{ data|safe }}
        var purviewData = {{ purviewList|safe }}
        $(function () {
            $("#tableNameFull").select2({
                placeholder:"选择表名（对象名）",
                openOnEnter:false,
                //minimumResultsForSearch: -1,
                data:tableData
            });
            $("#tableNameFull").val(['{{ tableNameFull }}']).trigger('change');

            $("#purviewCode").select2({
                placeholder:"对应权限",
                openOnEnter:false,
                //minimumResultsForSearch: -1,
                data:purviewData
            });
            $("#purviewCode").val(['{{ purviewCode }}']).trigger('change');
        })

    </script>
</head>
<body>
    <div class="container">
        <div>
            <form id="formTableName" class="form-horizontal row-border" method="post" onsubmit="" action="/myTool/code/">
                {% csrf_token %}
                <div class='form-group'>
                    <label class='col-md-1 control-label'>
                        对象名（表名）：
                    </label>
                    <div class='col-md-2'>
                        <select id="tableNameFull" name="tableNameFull" class="form-control" style="width: 300px;">
                        </select>
                    </div>
                    <label class='col-md-1 control-label'>
                        对应权限：
                    </label>
                    <div class='col-md-2'>
                        <select id="purviewCode" name="purviewCode" class="form-control input-width-large">
                        </select>
                    </div>
                    <div class='col-md-4'>
                        <button type="submit" id="btnSubmit1" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {% ifnotequal tableNameFull "" %}
        <div>
            <ul class="nav nav-tabs" id="nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab">
                        创建model
                    </a>
                </li>
                <li>
                    <a href="#tab_1_3" data-toggle="tab">
                        views{{ strings.objName }}.py
                    </a>
                </li>
                <li>
                    <a href="#tab_1_2" data-toggle="tab">
                        urls{{ strings.objName }}.py
                    </a>
                </li>
                <li>
                    <a href="#tab_1_4" data-toggle="tab">
                        {{ strings.tableName }}/index.html
                    </a>
                </li>
                <!--
                <li>
                    <a href="#tab_1_5" data-toggle="tab">
                        表单代码
                    </a>
                </li>
                <li>
                    <a href="#tab_1_6" data-toggle="tab">
                        JS表单验证
                    </a>
                </li>
                <li>
                    <a href="#tab_1_7" data-toggle="tab">
                        JS初始化
                    </a>
                </li>
                <li>
                    <a href="#tab_1_8" data-toggle="tab">
                        表格（table）代码
                    </a>
                </li>
                -->

            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1_1">
                    <textarea id="createModel" style="height: 800px;width: 100%;">
                    class {{ strings.objName }}(models.Model):
                        {% for f in fieldList %}{{ f.fieldName }} = models.{{ f.fieldDataType }}({{ f.fieldMemoStr  }})
                        {% endfor %}
                    </textarea>
                </div>
                <div class="tab-pane" id="tab_1_2">
                    <textarea id="Views" style="height: 800px;width: 100%;">
from django.urls import path
from {{ strings.nameSpace }}.views import views{{ strings.objName }}

#添加到urls.py
#path('{{ strings.tableName }}/',include("{{ strings.nameSpace }}.urls.urls{{ strings.objName }}")),

urlpatterns = [
    #path('admin/', admin.site.urls),

    path('index/',views{{ strings.objName }}.index),
    path('ajaxSave{{ strings.objName }}/',views{{ strings.objName }}.ajaxSave{{ strings.objName }}),
    path('ajaxDel{{ strings.objName }}/',views{{ strings.objName }}.ajaxDel{{ strings.objName }}),
    path('gridData{{ strings.objName }}/',views{{ strings.objName }}.gridData{{ strings.objName }}),
    {% ifequal strings.hasSorts "T" %}
    path('moveSorts{{ strings.objName }}/',views{{ strings.objName }}.ajaxMoveSorts{{ strings.objName }}),
    {% endifequal %}
]
                    </textarea>
                </div>
                <div class="tab-pane" id="tab_1_3">
                    <textarea id="Views" style="height: 800px;width: 100%;">

from django.shortcuts import render
from django.shortcuts import HttpResponse
from django.http import JsonResponse
from django.views.decorators.csrf import csrf_exempt


from datetime import datetime
from django.db.models import Q
import json
from system import models
from {{ strings.nameSpace }} import models as models{{ strings.nameSpace }}
from system import helpClass
from system.helpClass import login_required
from django.db import transaction
import traceback

{{ strings.hasPurview }}purCodeMain = "{{ purviewCode }}"

@login_required
def index(request):
    {{ strings.hasPurview }}purviewList = request.session.get('purviewList', [])  # 权限列表，list
    {{ strings.hasPurview }}purCode = "V"+purCodeMain
    {{ strings.hasPurview }}if purCode in purviewList:
    {{ strings.hasPurview }}    allowV = "T"
    {{ strings.hasPurview }}else:
    {{ strings.hasPurview }}    allowV = "F"

    {{ strings.hasPurview }}purviewA = "F"
    {{ strings.hasPurview }}purviewE = "F"
    {{ strings.hasPurview }}purviewD = "F"
    {{ strings.hasPurview }}if "A" + purCodeMain in purviewList:
    {{ strings.hasPurview }}    purviewA = "T"
    {{ strings.hasPurview }}if "E" + purCodeMain in purviewList:
    {{ strings.hasPurview }}    purviewE = "T"
    {{ strings.hasPurview }}if "D" + purCodeMain in purviewList:
    {{ strings.hasPurview }}    purviewD = "T"

    {% ifequal strings.hasPurview "#"%}
    allowV = "T"
    purviewA = "T"
    purviewE = "T"
    purviewD = "T"
    {% endifequal %}

    return render(request, "{{ strings.nameSpace }}/{{ strings.tableName }}/index.html",locals())


# 保存数据（添加或修改）
@csrf_exempt
def ajaxSave{{ strings.objName }}(request):
    data = request.POST
    # print(data)
    try:
        with transaction.atomic():
            if data != "":
                {% for f in fieldList %}{% ifequal f.fieldIfForm "T"%}
                {{ f.fieldName}} = data["{{ f.fieldName}}"]{% endifequal %}{% endfor %}

                loginInfo = request.session.get('loginInfo', "")
                adder = loginInfo["userId"]
                sellerId = loginInfo["sellerIdAll"]

                id = data["id"]

                if id == "":
                    #判断是否有操作权限
                    {{ strings.hasPurview }}purviewList = request.session.get('purviewList', [])  # 权限列表，list
                    {{ strings.hasPurview }}purCode = "A" + purCodeMain
                    {{ strings.hasPurview }}if purCode not in purviewList:
                    {{ strings.hasPurview }}    scription = "对不起！您<span style='color:red'>没有权限</span>添加此数据（" + purCode + "）"
                    {{ strings.hasPurview }}    return JsonResponse({"result": "F", "scription": scription, "extendInfo": "你的extendInfo"})

                    # 判断唯一性（是否存在）
                    {% for f in fieldList %}{% ifequal f.fieldUnique "T"%}
                    {{ strings.tableName }}s = models{{ strings.nameSpace }}.{{ strings.objName }}.objects.filter({{ f.fieldName }}={{ f.fieldName }}, deletetime=None)
                    {% ifequal strings.hasSellerId "T" %}
                    if sellerId>0:
                        {{ strings.tableName }}s.filter(sellerId=sellerId)
                    else:
                        {{ strings.tableName }}s.filter(sellerId=None)
                    {% endifequal %}
                    if {{ strings.tableName }}s:
                        scription = "{{ f.fieldTitle }}%s已经存在" %{{f.fieldName}}
                        return JsonResponse({"result": "F", "scription": scription, "extendInfo": "你的extendInfo"}){% endifequal %}{% endfor %}

                    {% ifequal strings.hasSorts "T"%}
                    sorts = 0
                    try:
                        model = models{{ strings.nameSpace }}.{{ strings.objName }}.objects.filter(deletetime=None).latest("sorts")
                        if model:
                            sorts = model.sorts + 1
                        else:
                            sorts = 1
                    except models{{ strings.nameSpace }}.{{ strings.objName }}.DoesNotExist:
                        sorts = 1
                    {% endifequal %}

                    obj = models{{ strings.nameSpace }}.{{ strings.objName }}.objects.create(){% for f in fieldList %}{% ifequal f.fieldIfForm "T"%}
                    obj.{{ f.fieldName}} = {{ f.fieldName}}{% endifequal %}{% endfor %}
                    {% ifequal strings.hasSorts "T"%}
                    obj.sorts = sorts
                    {% endifequal %}
                    {% ifequal strings.hasSellerId "T"%}
                    if sellerId>0:
                        obj.sellerId=models.Seller.objects.filter(id=sellerId)[0]
                    {% endifequal %}
                    obj.adder = models.User.objects.filter(id=adder)[0]

                    count = obj.save()
                else:
                    # 判断是否有操作权限
                    {{ strings.hasPurview }}purviewList = request.session.get('purviewList', [])  # 权限列表，list
                    {{ strings.hasPurview }}purCode = "E" + purCodeMain
                    {{ strings.hasPurview }}if purCode not in purviewList:
                    {{ strings.hasPurview }}    scription = "对不起！您<span style='color:red'>没有权限</span>修改此数据（" + purCode + "）"
                    {{ strings.hasPurview }}    return JsonResponse({"result": "F", "scription": scription, "extendInfo": "你的extendInfo"})

                    # 判断唯一性（是否存在）
                    {% for f in fieldList %}{% ifequal f.fieldUnique "T"%}
                    {{ strings.tableName }}s = models{{ strings.nameSpace }}.{{ strings.objName }}.objects.exclude(id=id).filter({{ f.fieldName }}={{ f.fieldName }}, deletetime=None)
                    {% ifequal strings.hasSellerId "T" %}
                    if sellerId>0:
                        {{ strings.tableName }}s.filter(sellerId=sellerId)
                    else:
                        {{ strings.tableName }}s.filter(sellerId=None)
                    {% endifequal %}
                    if {{ strings.tableName }}s:
                        scription = "{{ f.fieldTitle }}已经存在（" + {{ f.fieldName }} + "）"
                        return JsonResponse({"result": "F", "scription": scription, "extendInfo": "你的extendInfo"}){% endifequal %}{% endfor %}

                    count = models{{ strings.nameSpace }}.{{ strings.objName }}.objects.filter(id=id).update({{ strings.updateFieldsStr }},updatetime=datetime.now(),updater=models.User.objects.filter(id=adder)[0])

                scription = "操作成功，影响行数："+str(count)
                return JsonResponse({"result": "T", "scription": scription, "extendInfo": "你的extendInfo"})
            else:
                scription = "提交参数错误！"
                return JsonResponse({"result": "F", "scription": scription, "extendInfo": "你的extendInfo"})
    except Exception as e:
        #print(e)
        traceback.print_exc()
        scription = "执行时发生异常！（Exception）："+traceback.format_exc()
        return JsonResponse({"result": "F", "scription": scription, "extendInfo": "你的extendInfo"})


# 删除数据
@csrf_exempt
def ajaxDel{{ strings.objName }}(request):
    try:
        with transaction.atomic():
            # 判断是否有操作权限
            {{ strings.hasPurview }}purviewList = request.session.get('purviewList', [])  # 权限列表，list
            {{ strings.hasPurview }}purCode = "D" + purCodeMain
            {{ strings.hasPurview }}if purCode not in purviewList:
            {{ strings.hasPurview }}    scription = "对不起！您<span style='color:red'>没有权限</span>删除此数据（" + purCode + "）"
            {{ strings.hasPurview }}    return JsonResponse({"result": "F", "scription": scription, "extendInfo": "你的extendInfo"})

            count = 0
            idsForDelete = request.POST.get("idsForDelete", "")
            if idsForDelete != "":
                idsList = idsForDelete.strip(',').split(',')
                loginInfo = request.session.get('loginInfo', "")
                deleter = loginInfo["userId"]
                count = models{{ strings.nameSpace }}.{{ strings.objName }}.objects.filter(id__in=idsList).update(deletetime=datetime.now(), deleter=models.User.objects.filter(id=deleter)[0])

            scription = "成功删除 " + str(count) + " 条数据！"
            return JsonResponse({"result": "T", "scription": scription, "extendInfo": "你的extendInfo"})
    except Exception as e:
        #print(e)
        traceback.print_exc()
        scription = "执行时发生异常！（Exception）："+traceback.format_exc()
        return JsonResponse({"result": "F", "scription": scription, "extendInfo": "你的extendInfo"})


#gridData
from basicInfo.helper import queryset_to_list
@csrf_exempt
def gridData{{ strings.objName }}(request):
    keywords = request.GET.get('keywords','')
    #sortName = tableName & sortOrder = desc

    sortName = request.GET.get('sortName','')
    sortOrder = request.GET.get('sortOrder','')

    orderBy = "-id"
    if sortName != "":
        if sortOrder == "" or sortOrder == "asc":
            orderBy = sortName
        else:
            orderBy = "-"+sortName


    '''服务端分页时，前端需要传回：limit（每页需要显示的数据量），offset（分页时 数据的偏移量，即第几页）'''
    '''mysql 利用 limit语法 进行分页查询'''
    '''服务端分页时，需要返回：total（数据总量），rows（每行数据）  如： {"total": total, "rows": []}'''


    pageIndex = request.GET.get('pageIndex',1)
    pageSize  = request.GET.get('pageSize',20)
    #print(pageIndex)
    start = (int(pageIndex)-1) * int(pageSize)
    end = int(pageIndex) * int(pageSize)

    loginInfo = request.session.get('loginInfo', "")
    if loginInfo=="":
        returnData = {"total": -1,"errorInfo": "登录超时，请重新登录！！！", "rows": []}
        return HttpResponse(json.dumps(returnData))

    grade = loginInfo["grade"]
    sellerId = loginInfo["sellerIdAll"]

    records = models{{ strings.nameSpace }}.{{ strings.objName }}.objects.order_by(orderBy).filter(deletetime=None)
    if keywords != "":
        records = records.filter({{ strings.keywordsSearchStr }})

    total = records.count()
    results = records[start:end]
    list_results = queryset_to_list(results)
    returnData = {"total": total, "rows": list_results}  #########非常重要############

    # 最后用dumps包装下，json.dumps({"rows": [{"gameorderid": 1}, {"gameorderid": 22}]})
    return HttpResponse(json.dumps(returnData))


{% ifequal strings.hasSorts "T" %}
#排序
@csrf_exempt
def ajaxMoveSorts{{ strings.objName }}(request):
    id = request.POST.get("id","")
    moveType = request.POST.get("moveType","")
    try:
        with transaction.atomic():
            if id!="" and moveType != "":
                curRecord = models{{ strings.nameSpace }}.{{ strings.objName }}.objects.get(id=id)
                if curRecord:
                    if moveType == "up":#上移
                        #找到当前节点的上一个节点进行调换位置（排序位置）,如果找不到，说明当前已经是排在最上面的节点了，不做任何操作
                        preRecordQS = models{{ strings.nameSpace }}.{{ strings.objName }}.objects.filter(deletetime=None,sorts__lt=curRecord.sorts).order_by("-sorts")
                        if preRecordQS:#找到上一个
                            preRecord = preRecordQS[0]
                            models{{ strings.nameSpace }}.{{ strings.objName }}.objects.filter(id=curRecord.id).update(sorts=preRecord.sorts)
                            models{{ strings.nameSpace }}.{{ strings.objName }}.objects.filter(id=preRecord.id).update(sorts=curRecord.sorts)
                            scription = "上移成功！"
                            return JsonResponse({"result": "T", "scription": scription, "extendInfo": "你的extendInfo"})
                        else:
                            scription = "上移失败，已在顶部！"
                            return JsonResponse({"result": "F", "scription": scription, "extendInfo": "你的extendInfo"})
                    else:#下移
                        nextRecordQS = models{{ strings.nameSpace }}.{{ strings.objName }}.objects.filter(deletetime=None,sorts__gt=curRecord.sorts).order_by("sorts")
                        if nextRecordQS:  # 找到下一个
                            nextRecord = nextRecordQS[0]
                            models{{ strings.nameSpace }}.{{ strings.objName }}.objects.filter(id=curRecord.id).update(sorts=nextRecord.sorts)
                            models{{ strings.nameSpace }}.{{ strings.objName }}.objects.filter(id=nextRecord.id).update(sorts=curRecord.sorts)
                            scription = "下移成功！"
                            return JsonResponse({"result": "T", "scription": scription, "extendInfo": "你的extendInfo"})
                        else:
                            scription = "下移失败，已在底部！"
                            return JsonResponse({"result": "F", "scription": scription, "extendInfo": "你的extendInfo"})
    except Exception as e:
        #print(e)
        traceback.print_exc()
        scription = "执行时发生异常！（Exception）："+traceback.format_exc()
        return JsonResponse({"result": "F", "scription": scription, "extendInfo": "你的extendInfo"})

{% endifequal %}

                    </textarea>
                </div>
                <div class="tab-pane" id="tab_1_4"><!--index.html-->
                    <textarea id="formIndexHtml" style="height: 800px;width: 100%;">


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>{{ sysTitle }}</title>
{{ strings.codeLeftTag }}% include 'common/head.html' %}
    <script>
      $(document).ready(function() {
        App.init();
        Plugins.init();
        FormComponents.init()
      });
    </script>
    <script>
        $(function(){
            {% ifequal strings.hasPurview "" %}
            //判断是否有此页面数据的查看权限
            if ("{{ strings.codeLeftTag }}{{ strings.codeLeftTag }} allowV }}" != "T"){
                myAlertBack("您<span style='color:red'>没有权限</span>访问此页面！（{{ strings.codeLeftTag }}{{ strings.codeLeftTag }} purCode }}）","","");
            }
            {% endifequal %}

            $("#form{{ strings.objName }}").validate({
                debug:true, //调试模式，即使验证成功也不会跳转到目标页面
                errorElement: 'label',
                errorPlacement: function(error, element) {
                    error.appendTo(element.parent());
                },
                {{ jsValidate_rules }}
                {{ jsValidate_messages }}
                submitHandler: function(form) {//提交表单
                    var jsonObj=form2JsonObj("form{{ strings.objName }}");
                    //var jsonStr=form2JsonStr("form{{ strings.objName }}");
                    //var jsonStr=encodeURIComponent(jsonStr);//中文编码转换
                    //alert(jsonStr);
                    //$("#nav-tabs li:eq(0) a").tab("show")
                    //return;
                    progressStart(".modal-content",20,-60)
                    $.ajax({
                        url: "/{{ strings.tableName }}/ajaxSave{{ strings.objName }}/",
                        type: "post",
                        data: jsonObj,
                        success: function (returnObj) {
                            progressEnd();
                            //alert("提交成功，返回结果:" + returnObj.result);
                            if (returnObj.result == "T"){
                                refreshTable("cusTable{{ strings.objName }}");
                                $("#modal{{ strings.objName }}").modal('hide');
                            }else{
                                myAlert(returnObj.scription,"","")
                            }
                        },
                        error:function(jqXHR, textStatus, errorThrown){
                            progressEnd();
                            alert(jqXHR.responseText);
                            alert("AJAX返回出错，请与技术人员联系！");
                        }
                    });
                }
            });


        });
    </script>
  </head>
  <body>
{{ strings.codeLeftTag }}% include 'common/top.html' %}
    <div id="container">
{{ strings.codeLeftTag }}% include 'common/left.html' %}
      <div id="content">


        <!--
            作者：2243788@qq.com
            时间：{{ strings.now }}
            描述：添加修改菜单模态窗口
          -->
        <div class="modal fade" id="modal{{ strings.objName }}">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h4 class="modal-title">
                    <span id="acShow"></span>{{ strings.tableNameChinese }}信息
                </h4>
              </div>
              <form id="form{{ strings.objName }}" class="form-horizontal row-border" onsubmit="return false" action="">
                <div class="modal-body">
                    <div class="tabbable tabbable-custom">
                        <ul class="nav nav-tabs" id="nav-tabs">
                            <li class="active">
                                <a href="#tab_1_1" data-toggle="tab">
                                    基本信息
                                </a>
                            </li>
                            <!--
                            <li>
                                <a href="#tab_1_2" data-toggle="tab">
                                    访问菜单
                                </a>
                            </li>
                            <li>
                                <a href="#tab_1_3" data-toggle="tab">
                                    相关权限
                                </a>
                            </li>
                            -->
                        </ul>
                        <div class="tab-content" id="tab-content">
                            <div class="tab-pane active" id="tab_1_1">
                                <div style="padding-right: 5px;">
                                <!--字段开始-->{% for f in fieldList %}{% ifequal f.fieldIfForm "T" %}
                                    <div class='form-group'>
                                        <label class='col-md-3 control-label'>
                                        {% ifequal f.fieldMust "T" %}<font color='red'>*</font>{% endifequal %}{{ f.fieldTitle }} ：
                                        </label>
                                        <div class='col-md-9'>
                                            {{ f.fieldInputStr }}
                                        </div>
                                    </div>{% endifequal %}{% endfor %}
                                <!--字段结束-->
                                </div>
                            </div>
                            <!--
                            <div class="tab-pane" id="tab_1_2">

                            </div>
                            <div class="tab-pane" id="tab_1_3">

                            </div>
                            -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="tip">

                    </div>
                    <input type="hidden" id="id" name="id" value="">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="submit" id="submitForm" class="btn btn-primary">
                        提交
                    </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--
            作者：2243788@qq.com
            时间：{{ strings.now }}
            描述：添加修改菜单模态窗口--结束
        -->

        <div class="container">
  <div class="crumbs">
    <ul id="breadcrumbs" class="breadcrumb">
      <li>
        <i class="icon-home">
        </i>
        {{ strings.codeLeftTag }}{{ strings.codeLeftTag }} pageInfo.menuMainName }}
      </li>
      <li class="current">
         {{ strings.codeLeftTag }}{{ strings.codeLeftTag }} pageInfo.menuSubName }}
      </li>
    </ul>
    <!--
    <ul class="crumb-buttons">
      <li>
        <a href="charts.html" title="">
          <i class="icon-signal">
          </i>
          <span>
            统计
          </span>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" title="" data-toggle="dropdown">
          <i class="icon-tasks">
          </i>
          <span>
            用户
            <strong>
              (+3)
            </strong>
          </span>
          <i class="icon-angle-down left-padding">
          </i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="form_components.html" title="">
              <i class="icon-plus">
              </i>
              添加新用户
            </a>
          </li>
          <li>
            <a href="http://envato.stammtec.de/themeforest/melon/tables_dynamic.html"
            title="">
              <i class="icon-reorder">
              </i>
              查看
            </a>
          </li>
        </ul>
      </li>
    </ul>
    -->
  </div>
          <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
              <div class="widget box">
                <div class="widget-header">
                  <h4>
                    <i class="icon-reorder">
                    </i>
                    {{ strings.codeLeftTag }}{{ strings.codeLeftTag }} pageInfo.menuSubName }}
                  </h4>
                  <div class="toolbar no-padding">
                    <div class="btn-group">
                        {% ifequal strings.hasSorts "T" %}
                        <button id="btnMoveUp" class="btn btn-xs">
                            <i class="icon-arrow-up">
                            </i>
                            上移
                        </button>
                        <button id="btnMoveDown" class="btn btn-xs">
                            <i class="icon-arrow-down">
                            </i>
                            下移
                        </button>
                        {% endifequal %}
                      <button id="btnAdd" class="btn btn-xs btn-success">
                        <i class="icon-plus">
                        </i>
                        添加
                      </button>
                      <button id="btnEdit" class="btn btn-xs btn-info">
                        <i class="icon-edit">
                        </i>
                        修改
                      </button>
                      <button id="btnRemove" class="btn btn-xs btn-danger">
                        <i class="icon-remove">
                        </i>
                        删除
                      </button>
                    </div>
                  </div>
                  <!--展开收缩按钮
                  <div class="toolbar no-padding">
                    <div class="btn-group">
                      <span class="btn btn-xs widget-collapse">
                        <i class="icon-angle-down">
                        </i>
                      </span>
                    </div>
                  </div>
                  -->
                </div>
                <div class="widget-content" id="contentMain" style="height:580px;overflow: auto;">
                    <div id="toolbarSearch{{ strings.objName }}">
                        <!--
                        <div class="btn-group">
                            <button id="btnAdd" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
                            </button>
                            <button id="btnDel" type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                            </button>
                        </div>
                        -->
                        <div class="pull-right" style='margin-left: 10px;'>
                            <button class="btn btn-default" id="btnSearch{{ strings.objName }}" type="button" style="margin-bottom:3px">查询</button>
                        </div>
                        <!--
                        <div class="pull-right" style='margin-left: 10px;'>
                            <select id="rsvStatus" name="rsvStatus" onchange="search()" class="form-control">
                                <option value="all" >不限</option>
                                <option value="1" >已收货</option>
                                <option value="0" selected>未收货</option>
                            </select>
                        </div>
                        -->
                        <div class="pull-right">
                            <input type="text" id="keywords{{ strings.objName }}" name="keywords{{ strings.objName }}" class="form-control" onkeydown="" placeholder="查询关键字"/>
                        </div>
                    </div>
                    <table class="table table-hover"
                            id="cusTable{{ strings.objName }}"
                            data-pagination="true"
                            data-show-refresh="true"
                            data-show-toggle="true"
                            data-showColumns="true">
                        <thead>
                          <tr>
                              <th data-field="id">

                              </th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>

    $(function(){

        initTable{{ strings.objName }}()

        $("#btnSearch{{ strings.objName }}").bind("click",initTable{{ strings.objName }})

        $("#keywords{{ strings.objName }}").keydown(function(e) {
            if (e.keyCode == 13) {
                initTable{{ strings.objName }}();
            }
        });

        {% ifequal strings.hasSorts "T" %}
        $("#btnMoveUp").bind("click",moveUp);
        $("#btnMoveDown").bind("click",moveDown);
        {% endifequal %}

        {{ strings.codeLeftTag }}% ifequal purviewA "T" %{{ strings.codeRightTag }}
        $("#btnAdd").bind("click",add);
        {{ strings.codeLeftTag }}% endifequal %{{ strings.codeRightTag }}
        {{ strings.codeLeftTag }}% ifequal purviewE "T" %{{ strings.codeRightTag }}
        $("#btnEdit").bind("click",edit);
        {{ strings.codeLeftTag }}% endifequal %{{ strings.codeRightTag }}
        {{ strings.codeLeftTag }}% ifequal purviewD "T" %{{ strings.codeRightTag }}
        $("#btnRemove").bind("click",remove);
        {{ strings.codeLeftTag }}% endifequal %{{ strings.codeRightTag }}

        {{ js_init }}

    })



{{ strings.codeLeftTag }}% ifequal purviewA "T" %{{ strings.codeRightTag }}
function add(){
    $("#acShow").html("添加")
    $("#form{{ strings.objName }}")[0].reset();
    $("#id").val("");
    //将选择卡tab选择到一个
    setTabDefault("nav-tabs","tab-content",0);
    $("#modal{{ strings.objName }}").modal('show');{% for f in fieldList %}{% ifequal f.fieldInputType "select" %}
    $("#{{ f.fieldName }}").val('').select2({minimumResultsForSearch: -1});{% endifequal %}{% endfor %}
}
{{ strings.codeLeftTag }}% endifequal %{{ strings.codeRightTag }}

{{ strings.codeLeftTag }}% ifequal purviewE "T" %{{ strings.codeRightTag }}
function edit(){
    $("#acShow").html("修改")
    records=$('#cusTable{{ strings.objName }}').bootstrapTable("getAllSelections");
    if (records.length!=1){
        myAlert("请选择一条需要修改的记录！（当前选择 "+records.length+" 条）")
        return;
    }
    var record=records[0];
    var jsonStr=JSON.stringify(record);
    $("#form{{ strings.objName }}").setForm(jsonStr);
    //将选择卡tab选择到一个
    setTabDefault("nav-tabs","tab-content",0);
    $("#modal{{ strings.objName }}").modal('show');{% for f in fieldList %}{% ifequal f.fieldInputType "select" %}
    $("#{{ f.fieldName }}").val(record.{{ f.fieldName }}).select2({minimumResultsForSearch: -1});{% endifequal %}{% endfor %}
}
{{ strings.codeLeftTag }}% endifequal %{{ strings.codeRightTag }}

{{ strings.codeLeftTag }}% ifequal purviewD "T" %{{ strings.codeRightTag }}
function remove(){
    //alert($('#menuEditTree').treeview('getSelected', 0).length)
    //alert($('#menuEditTree').treeview('getChecked', null)[0].id);
    records=$('#cusTable{{ strings.objName }}').bootstrapTable("getAllSelections");
    if (records.length==0){
        myAlert("请选择一条需要删除的记录！")
        return;
    }
    var idsForDelete=""
    for (var i=0;i<records.length;i++){
        //alert(objArray[i].name)
        if (idsForDelete==""){
            idsForDelete=records[i].id
        }else{
            idsForDelete=idsForDelete+","+records[i].id
        }
    }
    //alert(idsForDelete)
    var fontSize=18;
    var fontColor="red";
    var htmlStr="确定删除所选记录吗？"
    var alertStr="<div style='text-align: center;font-weight: bold;font-size: "+fontSize+"px;color:"+fontColor+"'>"+htmlStr+"</div>"
    bootbox.confirm({
        title: "操作提示",
        message: alertStr,
        buttons: {
            confirm:{
                label: '确定',
                className: 'btn-primary'
            },
            cancel: {
                label: '取消',
                className: 'btn-default'
            }
        },
        callback: function(result) {
            if(result) {
                //alert('点击确认按钮了');
                progressStart("","","");
                $.ajax({
                    type: "POST",
                    url: "/{{ strings.tableName }}/ajaxDel{{ strings.objName }}/",
                    data: {idsForDelete:idsForDelete},
                    async: false,//true：异步；false：同步
                    success: function(returnObj){
                        progressEnd();
                        //console.log(msg)
                        if (returnObj.result == "T"){
                            refreshTable("cusTable{{ strings.objName }}");
                        }else{

                        }
                        myAlert(returnObj.scription,"","")
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        progressEnd();
                        alert(jqXHR.responseText);
                        //alert("AJAX返回出错，请与技术人员联系！");
                    }
                });
            } else {
                //alert('点击取消按钮了');
            }
        }
    })
}
{{ strings.codeLeftTag }}% endifequal %{{ strings.codeRightTag }}

{% ifequal strings.hasSorts "T" %}
//上移
function moveUp(){

    var moveType="up";
    moveSort(moveType);
}

//下移
function moveDown(){
    var moveType="down";
    moveSort(moveType);
}

//移动排序
function moveSort(moveType){
    records=$('#cusTable{{ strings.objName }}').bootstrapTable("getAllSelections");
    if (records.length!=1){
        myAlert("请选择一条需要移动的记录！（当前选择 "+records.length+" 条）")
        return;
    }
    var id = records[0].id
    $.ajax({
        type: "POST",
        url: "/{{ strings.tableName }}/moveSorts{{ strings.objName }}/",
        data: {id:id,moveType:moveType},
        async: false,//true：异步；false：同步
        success: function(returnObj){
            if (returnObj.result == "T"){
                refreshTable("cusTable{{ strings.objName }}");
            }else{

            }
            myAlert(returnObj.scription,"","")
        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseText);
            //alert("AJAX返回出错，请与技术人员联系！");
        }
    });
}
{% endifequal %}

/*
 *
 */
function initTable{{ strings.objName }}(){
    var tableId="cusTable{{ strings.objName }}"
    //alert("ABC")
    //先销毁表格
    $('#'+tableId).bootstrapTable('destroy');
    //初始化表格,动态从服务器加载数据
    $("#"+tableId).bootstrapTable({
        method: "get",  //使用get请求到服务器获取数据
        toolbar:"#toolbarSearch{{ strings.objName }}",
        url: "/{{ strings.tableName }}/gridData{{ strings.objName }}/", //获取数据的Servlet地址
        detailView: false,//父子表
        striped: true,  //表格显示条纹
        singleSelect:false,//设置True 将禁止多选
        clickToSelect:true,
        pagination: true, //启动分页
        pageSize: 15,  //每页显示的记录数
        pageNumber:1, //当前第几页
        pageList: [10, 15, 20, 25,50],  //记录数可选列表
        sortable:true,  //是否启用排序
                    {% ifequal strings.hasSorts "T" %}
        sortName :"sorts",
        sortOrder: "",//排序方式
                    {% else %}
        sortName :"id",
        sortOrder: "desc",//排序方式
                    {% endifequal %}
        search: false,  //是否启用查询
        searchOnEnterKey:true,//设置为 true时，按回车触发搜索方法，否则自动触发搜索方法
        searchAlign:"right",
        showColumns: true,  //显示下拉框勾选要显示的列
        showRefresh: true,  //显示刷新按钮
        sidePagination: "server", //表示服务端请求
        columns:[
                {
                    field : 'checked',
                    checkbox : true,
                    formatter : function(value,row,index){

                    }//,
                    /*
                    footerFormatter: function (value) {
                        var count = 0;
                        for (var i in value) {
                        count += parseInt(value[i].amount);
                    }
                        return count;
                    }
                    */
                }{% for f in fieldList %}{% ifequal f.fieldIfShowInTable "T" %},
                {
                    title: '{{ f.fieldTitle }}',
                    field: '{{ f.fieldName }}',
                    sortable: true,
                    align: 'center',
                    valign: 'middle'
                }{% endifequal %}{% endfor %}
        ],
        //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
        //设置为limit可以获取limit, offset, search, sort, order
        queryParamsType : "undefined",
        queryParams: function queryParams(params) {   //设置查询参数
            var keywords=$("#keywords{{ strings.objName }}").val();
            var param = {
                pageIndex: params.pageNumber,
                pageSize: params.pageSize,
                keywords:keywords,
                sortName:params.sortName,
                sortOrder:params.sortOrder
            };
            return param;
        },
        onLoadSuccess: function(data){  //加载成功时执行
            //layer.msg("加载成功");
            //alert("加载成功")
            //alert(data.rows[0].expressSendNum)
            tableLoaded(data);
        },
        onLoadError: function(status){  //加载失败时执行
            //layer.msg("加载数据失败", {time : 1500, icon : 2});
            //alert("加载数据失败")
        },
        onPageChange:function(number,size){
            //alert(pageNumber)
        },
        onCheck:function(row){
                //alert(row.id);
                //setBtnStatus();
        },
        onUncheck:function(row){
                //alert(row.id);
                //setBtnStatus();
        },
            onCheckAll:function(rows){
                //alert(rows.length);
                //setBtnStatus();
        },
        onUncheckAll:function(rows){
                //alert(rows.length);
                //setBtnStatus();
        },
        onColumnSwitch:function(field, checked){
            if (!checked){//设置cookie
                setTableColumnForHide(tableId,field);
            }else{
                setTableColumnForHideCancel(tableId,field);
            }
        },
            //注册加载子表的事件。注意下这里的三个参数！
            onExpandRow: function (index, row, $detail) {
                //InitSubTable(index, row, $detail);
            }
    });
}

//设置当前用户的权限，如果没有权限，遇隐藏相应按钮
function setUserPurs(){
    {% ifequal strings.hasPurview "" %}
    {{ strings.codeLeftTag }}% ifnotequal purviewA "T" %{{ strings.codeRightTag }}
    $("#btnAdd").hide();
    {{ strings.codeLeftTag }}% endifnotequal %{{ strings.codeRightTag }}
    {{ strings.codeLeftTag }}% ifnotequal purviewE "T" %{{ strings.codeRightTag }}
    $("#btnEdit").hide();
    {{ strings.codeLeftTag }}% endifnotequal %{{ strings.codeRightTag }}
    {{ strings.codeLeftTag }}% ifnotequal purviewD "T" %{{ strings.codeRightTag }}
    $("#btnRemove").hide();
    {{ strings.codeLeftTag }}% endifnotequal %{{ strings.codeRightTag }}
    {% endifequal %}
}
setUserPurs();//设置权限

</script>
{{ strings.codeLeftTag }}% include 'common/foot.html' %}





                    </textarea>
                </div>
                <div class="tab-pane" id="tab_1_5">
                    <textarea id="formCode" style="height: 800px;width: 100%;">


        <!--
            作者：2243788@qq.com
            时间：{{ strings.now }}
            描述：添加修改菜单模态窗口
          -->
        <div class="modal fade" id="modal{{ strings.objName }}">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h4 class="modal-title">
                    <span id="acShow"></span>{{ strings.tableNameChinese }}信息
                </h4>
              </div>
              <form id="form{{ strings.objName }}" class="form-horizontal row-border" onsubmit="return false" action="">
                <div class="modal-body">
                    <div class="tabbable tabbable-custom">
                        <ul class="nav nav-tabs" id="nav-tabs">
                            <li class="active">
                                <a href="#tab_1_1" data-toggle="tab">
                                    基本信息
                                </a>
                            </li>
                            <!--
                            <li>
                                <a href="#tab_1_2" data-toggle="tab">
                                    访问菜单
                                </a>
                            </li>
                            <li>
                                <a href="#tab_1_3" data-toggle="tab">
                                    相关权限
                                </a>
                            </li>
                            -->
                        </ul>
                        <div class="tab-content" id="tab-content">
                            <div class="tab-pane active" id="tab_1_1">
                                <div style="padding-right: 5px;">
                                <!--字段开始-->{% for f in fieldList %}{% ifequal f.fieldIfForm "T" %}
                                    <div class='form-group'>
                                        <label class='col-md-3 control-label'>
                                        {% ifequal f.fieldMust "T" %}<font color='red'>*</font>{% endifequal %}{{ f.fieldTitle }} ：
                                        </label>
                                        <div class='col-md-9'>
                                            {{ f.fieldInputStr }}
                                        </div>
                                    </div>{% endifequal %}{% endfor %}
                                <!--字段结束-->

                                </div>
                            </div>
                            <!--
                            <div class="tab-pane" id="tab_1_2">

                            </div>
                            <div class="tab-pane" id="tab_1_3">

                            </div>
                            -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="tip">

                    </div>
                    <input type="hidden" id="id" name="id" value="">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="submit" id="submitForm" class="btn btn-primary">
                        提交
                    </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--
            作者：2243788@qq.com
            时间：{{ strings.now }}
            描述：添加修改菜单模态窗口--结束
        -->

                    </textarea>
                </div>
                <div class="tab-pane" id="tab_1_6">
                    <textarea id="formJsValidate" style="height: 800px;width: 100%;">
$("#form{{ strings.objName }}").validate({
    debug:true, //调试模式，即使验证成功也不会跳转到目标页面
    errorElement: 'label',
    errorPlacement: function(error, element) {
        error.appendTo(element.parent());
    },
    {{ jsValidate_rules }}
    {{ jsValidate_messages }}
    submitHandler: function(form) {//提交表单
        var jsonObj=form2JsonObj("form{{ strings.objName }}");
        //var jsonStr=form2JsonStr("form{{ strings.objName }}");
        //var jsonStr=encodeURIComponent(jsonStr);//中文编码转换
        //alert(jsonStr);
        //$("#nav-tabs li:eq(0) a").tab("show")
        //return;
        progressStart(".modal-content",20,-60)
        $.ajax({
            url: "/{{ strings.tableName }}/ajaxSave{{ strings.objName }}/",
            type: "post",
            data: jsonObj,
            success: function (returnObj) {
                progressEnd();
                //alert("提交成功，返回结果:" + returnObj.result);
                if (returnObj.result == "T"){
                    refreshTable("cusTable{{ strings.objName }}");
                    $("#modal{{ strings.objName }}").modal('hide');
                }else{
                    myAlert(returnObj.scription,"","")
                }
            },
            error:function(jqXHR, textStatus, errorThrown){
                progressEnd();
                alert(jqXHR.responseText);
                alert("AJAX返回出错，请与技术人员联系！");
            }
        });
    }
});

                    </textarea>
                </div>
                <div class="tab-pane" id="tab_1_7">
                    <textarea id="formJsIni" style="height: 800px;width: 100%;">
{{ js_init }}
                    </textarea>
                </div>
                <div class="tab-pane" id="tab_1_8">
                    <textarea id="formTable" style="height: 800px;width: 100%;">

<div id="toolbarSearch{{ strings.objName }}">
    <!--
    <div class="btn-group">
        <button id="btnAdd" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
        </button>
        <button id="btnDel" type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
    </div>
    -->
    <div class="pull-right" style='margin-left: 10px;'>
        <button class="btn btn-default" id="btnSearch{{ strings.objName }}" style="margin-bottom:3px">查询</button>
    </div>
    <!--
    <div class="pull-right" style='margin-left: 10px;'>
        <select id="rsvStatus" name="rsvStatus" onchange="search()" class="form-control">
            <option value="all" >不限</option>
            <option value="1" >已收货</option>
            <option value="0" selected>未收货</option>
        </select>
    </div>
    -->
    <div class="pull-right">
        <input type="text" id="keywords" name="keywords" class="form-control" onkeydown="" placeholder="查询关键字"/>
    </div>
</div>

<table class="table table-hover"
        id="cusTable{{ strings.objName }}"
        data-pagination="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-showColumns="true">
    <thead>
      <tr>
          <th data-field="id">

          </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>


/*
 *
 */
function initTable{{ strings.objName }}(){
    var tableId="cusTable{{ strings.objName }}"
    //alert("ABC")
    //先销毁表格
    $('#'+tableId).bootstrapTable('destroy');
    //初始化表格,动态从服务器加载数据
    $("#"+tableId).bootstrapTable({
        method: "get",  //使用get请求到服务器获取数据
        toolbar:"#toolbarForSearch",
        url: "{{ strings.nameSpace }}/{{ strings.tableName }}GridData", //获取数据的Servlet地址
        detailView: false,//父子表
        striped: true,  //表格显示条纹
        singleSelect:false,//设置True 将禁止多选
        clickToSelect:true,
        pagination: true, //启动分页
        pageSize: 15,  //每页显示的记录数
        pageNumber:1, //当前第几页
        pageList: [5, 10, 15, 20, 25],  //记录数可选列表
        sortable:true,  //是否启用排序
                    {% ifequal strings.hasSorts "T" %}
        sortName :"sorts",
        sortOrder: "",//排序方式
                    {% else %}
        sortName :"id",
        sortOrder: "desc",//排序方式
                    {% endifequal %}
        search: false,  //是否启用查询
        searchOnEnterKey:true,//设置为 true时，按回车触发搜索方法，否则自动触发搜索方法
        searchAlign:"right",
        showColumns: true,  //显示下拉框勾选要显示的列
        showRefresh: true,  //显示刷新按钮
        sidePagination: "server", //表示服务端请求
        columns:[
                {
                    field : 'checked',
                    checkbox : true,
                    formatter : function(value,row,index){

                    }//,
                    /*
                    footerFormatter: function (value) {
                        var count = 0;
                        for (var i in value) {
                        count += parseInt(value[i].amount);
                    }
                        return count;
                    }
                    */
                }{% for f in fieldList %}{% ifequal f.fieldIfShowInTable "T" %},
                {
                    title: '{{ f.fieldTitle }}',
                    field: '{{ f.fieldName }}',
                    sortable: true,
                    align: 'center',
                    valign: 'middle'
                }{% endifequal %}{% endfor %}
        ],
        //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
        //设置为limit可以获取limit, offset, search, sort, order
        queryParamsType : "undefined",
        queryParams: function queryParams(params) {   //设置查询参数
            var keywords=$("#keywords").val();
            var param = {
                pageIndex: params.pageNumber,
                pageSize: params.pageSize,
                keywords:keywords,
                sortName:params.sortName,
                sortOrder:params.sortOrder
            };
            return param;
        },
        onLoadSuccess: function(data){  //加载成功时执行
            //layer.msg("加载成功");
            //alert("加载成功")
            //alert(data.rows[0].expressSendNum)
            tableLoaded(data);
        },
        onLoadError: function(status){  //加载失败时执行
            //layer.msg("加载数据失败", {time : 1500, icon : 2});
            //alert("加载数据失败")
        },
        onPageChange:function(number,size){
            //alert(pageNumber)
        },
        onCheck:function(row){
                //alert(row.id);
                //setBtnStatus();
        },
        onUncheck:function(row){
                //alert(row.id);
                //setBtnStatus();
        },
            onCheckAll:function(rows){
                //alert(rows.length);
                //setBtnStatus();
        },
        onUncheckAll:function(rows){
                //alert(rows.length);
                //setBtnStatus();
        },
        onColumnSwitch:function(field, checked){
            if (!checked){//设置cookie
                setTableColumnForHide(tableId,field);
            }else{
                setTableColumnForHideCancel(tableId,field);
            }
        },
            //注册加载子表的事件。注意下这里的三个参数！
            onExpandRow: function (index, row, $detail) {
                //InitSubTable(index, row, $detail);
            }
    });
}

                    </textarea>

                </div>
            </div>
        </div>
    {% endifnotequal %}
    </div>
</body>
</html>