<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>{{ sysTitle }}</title>
{% include 'common/head.html' %}
  	<script>
      $(document).ready(function() {
        App.init();
        Plugins.init();
        FormComponents.init()
      });

      function changePsd(){
      	//alert(form.name.value)
		var jsonObj=form2JsonObj("modifyPasswordForm");
		jsonObj["csrfmiddlewaretoken"]="{{ csrf_token }}";
        //$.cookie('username', jsonObj.username);
        //var jsonStr=form2JsonStr("modifyPasswordForm");
        //var jsonStr=encodeURIComponent(jsonStr);//中文编码转换
        if (jsonObj.newPassword==""){
        	myAlert("请设置新密码！",18,"red")
        	return;
        }
        if (jsonObj.newPassword!=jsonObj.confirmPassword){
        	myAlert("确认密码不一致，请重新设置新密码！",18,"red")
        	return;
        }
        //alert(jsonStr);
        //return;
        progressStart("","","");
        $.ajax({
            url: "/system/ajaxChangePsd/",
            type: "post",
            data: jsonObj,
            success: function (returnObj) {
                //alert("提交成功，返回结果:" + text);
                progressEnd();
                if (returnObj.result == "T"){
                    showTip("修改成功，请使用新密码登录！",3);
                    setTimeout(function (){
                        location.href="/system/login/";
                    }, 3000);
                }else{
                    myAlert(returnObj.scription,"","")
                }
            },
            error:function(jqXHR, textStatus, errorThrown){
                progressEnd();
                alert(jqXHR.responseText);
                alert("AJAX返回出错，请与技术人员联系！");
            }
        });
      }
   	</script>

  </head>
  <body>
{% include 'common/top.html' %}
    <div id="container">
{% include 'common/left.html' %}
      <div id="content">
        <div class="container">
  <div class="crumbs">
    <ul id="breadcrumbs" class="breadcrumb">
      <li>
        <i class="icon-home">
        </i>
          修改密码
      </li>
    </ul>
    <!--
    <ul class="crumb-buttons">
      <li>
        <a href="charts.html" title="">
          <i class="icon-signal">
          </i>
          <span>
            统计
          </span>
        </a>
      </li>
      <li class="dropdown">
        <a href="#" title="" data-toggle="dropdown">
          <i class="icon-tasks">
          </i>
          <span>
            用户
            <strong>
              (+3)
            </strong>
          </span>
          <i class="icon-angle-down left-padding">
          </i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="form_components.html" title="">
              <i class="icon-plus">
              </i>
              添加新用户
            </a>
          </li>
          <li>
            <a href="http://envato.stammtec.de/themeforest/melon/tables_dynamic.html"
            title="">
              <i class="icon-reorder">
              </i>
              查看
            </a>
          </li>
        </ul>
      </li>
    </ul>
    -->
  </div>
          <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
              <div class="widget box">
                <div class="widget-header">
                  <h4>
                    <i class="icon-reorder">
                    </i>
					修改密码
                  </h4>
                  <div class="toolbar no-padding">
                    <div class="btn-group">


	                </div>
	              </div>
                </div>
                <div class="widget-content" id="contentMain" style="overflow: auto;">

                    <div style="width: 280px;margin: 0 auto;">
                      <div class="content">
                        <form class="form-vertical login-form" name="modifyPasswordForm" id="modifyPasswordForm" onsubmit="return false" action="" method="post">
                          <h3 class="form-title" style="text-align: center;">
                                修改登录密码
                          </h3>
                          <div class="form-group">
                            <div class="input-icon">
                              <i class="icon-lock">
                              </i>
                              <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="原密码"
                              data-rule-required="true" data-msg-required="请输入原密码"/>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-icon">
                              <i class="icon-lock">
                              </i>
                              <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="新密码"
                              data-rule-required="true" data-msg-required="请输入新密码"/>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-icon">
                              <i class="icon-lock">
                              </i>
                              <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="确认新密码"
                              data-rule-required="true" data-msg-required="请输入新密码"/>
                            </div>
                          </div>
                          <div class="" style="text-align: center;">
                            <button type="submit" class="submit btn btn-primary align-center" onclick="changePsd()">
                                提交修改
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>

//设置当前用户的权限，如果没有权限，遇隐藏相应按钮
function setUserPurs(){

}
setUserPurs();//设置权限

</script>
{% include 'common/foot.html' %}