    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
      <link rel="stylesheet" type="text/css" href="../../static/plugins/jquery-ui/jquery.ui.1.10.2.ie.css"
      />
    <![endif]-->
    <link href="../../static/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../static/assets/css/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/plugins/select2/select2.css" />
    <link rel="stylesheet" href="../../static/plugins/bootstrap-switch/bootstrap-switch.css"/>
    <!--[if IE 7]>
      <link rel="stylesheet" href="../../static/assets/css/fontawesome/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if IE 8]>
      <link href="../../static/assets/css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/fonts.css?family=Open+Sans:400,600,700">
    <link rel="stylesheet" type="text/css" href="../../static/plugins/bootstrap-treeview/bootstrap-treeview.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/plugins/bootstrap-table/bootstrap-table.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/plugins/messenger/messenger.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/plugins/messenger/messenger-theme-future.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/plugins/jGrowl/jquery.jgrowl.css" />
    <link rel="stylesheet" type="text/css" href="../../static/plugins/fileinput/fileinput.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/myCss.css"/>
    <!--
    <script type="text/javascript" src="../../static/assets/js/libs/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="../../static/js/jquery-3.2.1.js">
    </script>
    -->
    <script type="text/javascript" src="../../static/js/jquery-2.1.0.min.js" ></script>
    <script type="text/javascript" src="../../static/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js">
    </script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="../../static/assets/js/libs/lodash.compat.min.js">
    </script>
    <!--[if lt IE 9]>
      <script src="../../static/assets/js/libs/html5shiv.js">
      </script>
    <![endif]-->
    <script type="text/javascript" src="../../static/plugins/nprogress/nprogress.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/touchpunch/jquery.ui.touch-punch.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/event.swipe/jquery.event.move.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/event.swipe/jquery.event.swipe.js">
    </script>
    <script type="text/javascript" src="../../static/assets/js/libs/breakpoints.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/respond/respond.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/cookie/jquery.cookie.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/slimscroll/jquery.slimscroll.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/slimscroll/jquery.slimscroll.horizontal.min.js">
    </script>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="../../static/plugins/flot/excanvas.min.js">
      </script>
    <![endif]-->
    <script type="text/javascript" src="../../static/plugins/sparkline/jquery.sparkline.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/nestable/jquery.nestable.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/flot/jquery.flot.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/flot/jquery.flot.tooltip.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/flot/jquery.flot.resize.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/flot/jquery.flot.time.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/flot/jquery.flot.growraf.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/easy-pie-chart/jquery.easy-pie-chart.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/daterangepicker/moment.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/daterangepicker/daterangepicker.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/blockui/jquery.blockUI.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/fullcalendar/fullcalendar.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/noty/jquery.noty.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/noty/layouts/top.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/noty/themes/default.js">
    </script>
    <!--<script type="text/javascript" src="../../static/plugins/uniform/jquery.uniform.min.js">
    </script>-->
    <link href="../../static/plugins/iCheck/skins/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../static/plugins/iCheck/icheck.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/select2/select2.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/select2/local/zh-CN.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/bootstrap-treeview/bootstrap-treeview.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/typeahead/typeahead.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/autosize/jquery.autosize.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/inputlimiter/jquery.inputlimiter.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/tagsinput/jquery.tagsinput.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/fileinput/fileinput.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/fileinput/zh.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/duallistbox/jquery.duallistbox.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/bootstrap-inputmask/jquery.inputmask.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/bootstrap-multiselect/bootstrap-multiselect.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/bootstrap-switch/bootstrap-switch.min.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/validation/jquery.validate.min.js">
    </script>
    <script type="text/javascript" src="../../static/assets/js/app.js">
    </script>
    <script type="text/javascript" src="../../static/assets/js/plugins.js">
    </script>
    <script type="text/javascript" src="../../static/assets/js/plugins.form-components.js">
    </script>
    <script type="text/javascript" src="../../static/assets/js/custom.js">
    </script>
    <script type="text/javascript" src="../../static/plugins/bootbox/bootbox.min.js" ></script>
    <script type="text/javascript" src="../../static/plugins/bootstrap-table/bootstrap-table.js" ></script>
    <script type="text/javascript" src="../../static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" ></script>
    <script type="text/javascript" src="../../static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js" ></script>
    <script type="text/javascript" src="../../static/plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js" ></script>
    <script type="text/javascript" src="../../static/plugins/messenger/messenger.js"></script>
    <script type="text/javascript" src="../../static/plugins/messenger/messenger-theme-future.js"></script>
    <script type="text/javascript" src="../../static/plugins/jGrowl/jquery.jgrowl.js" ></script>
    <script type="text/javascript" src="../../static/plugins/bootstrap-wysiwyg/jquery.hotkeys.js" ></script>
    <script type="text/javascript" src="../../static/plugins/bootstrap-wysiwyg/bootstrap-wysiwyg.js" ></script>
    <script type="text/javascript" src="../../static/js/myScripts.js"></script>
	<script type="text/javascript" src="../../static/js/form2Json.js"></script>
